html, body {
    margin: 0;
    padding: 0;
  }
body{
      background-color: rgb(219, 219, 219);
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
  }

.login-section{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color:  rgb(153, 153, 153);
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgb(139, 139, 139) ;
    
    
}
.login-section h2{
    margin: 10px;
    text-align: center;
}
.section{
    
    margin:0 0 1rem 0.5rem;
}
.room , .user{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin-top:1rem;
    text-transform: uppercase;
}

.login-button {
  appearance: none;
  background-color: #1f1f1f;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 90%;
  will-change: transform;
}

.login-button:disabled {
  pointer-events: none;
}

.login-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.login-button:active {
  box-shadow: none;
  transform: translateY(0);
}